<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    
    <%- include('./partials/nav.ejs') %> 

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod iure at unde. Porro a odio sunt repellendus tenetur aspernatur molestiae officia perspiciatis magni beatae expedita voluptate, quas ad nihil praesentium.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod iure at unde. Porro a odio sunt repellendus tenetur aspernatur molestiae officia perspiciatis magni beatae expedita voluptate, quas ad nihil praesentium.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod iure at unde. Porro a odio sunt repellendus tenetur aspernatur molestiae officia perspiciatis magni beatae expedita voluptate, quas ad nihil praesentium.</p>
    </div>

    <%- include('./partials/footer.ejs') %> 

</body>
</html>